body{
    background-color: black;
    overflow-y: scroll;
}

#textName{
    position: fixed;
    left: 2800px;
    top:1400px;
    font-size: 180px;
    color: white;
}

#torinoPoza{
    position: fixed;
    left: 300px;
    top:150px;
    height: 1200px;
    width: 2500px;
}
#dolciPoza{
    position: fixed;
    left: 3300px;
    top:1600px;
    height: 1200px;
    width: 2500px;
}
#textDolci{
    position: fixed;
    left: 300px;
    top:1600px;
    font-size: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#textHomeDescription{
   
    font-size: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top:22px;
    left: 3000px;
}

#torino{
    position: fixed;
    left: 3000px;
    font-size: 100px;
    width: 200px;
}

#navigationPage{
    position: fixed;
    left: 5200px;
    margin-top: 20px;
    top:1100px;
    font-size: 100px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

li a{
    color:whitesmoke;
    margin-top: 40px;
    position: fixed;
    left:10px;
    top:10px;
}

li a:hover{
    color:#640200;
}